body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

.container {
    max-width: 900px;
}

h1 {
    color: #007bff;
}

.results p {
    font-size: 18px;
    font-weight: bold;
}

canvas {
    margin-top: 20px;
    max-height: 300px;
}

/* Dark Mode */
.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode h1 {
    color: #f8f9fa;
}

.dark-mode .container {
    background: #333;
    color: white;
}
